################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hallo/.vs/Hallo/v16/Server/sqlite3/db.lock
