################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hallo/.vs/Hallo/v16/Server/sqlite3/db.lock
/Hallo/.vs/Hallo/v16/Server/sqlite3/storage.ide
/Hallo/.vs/Hallo/v16/Server/sqlite3/storage.ide-shm
/Hallo/.vs/Hallo/v16/Server/sqlite3/storage.ide-wal
